version: '3.8'

services:
  mariadb:
    image: mariadb:latest
    container_name: frametagger-db
    environment:
      PUID: 1000
      PGID: 10
      TZ: America/New_York
      MYSQL_ROOT_PASSWORD: frametagger
      MYSQL_DATABASE: frametagger
    volumes:
      - /opt/docker/config/frametagger/db:/var/lib/mysql
    networks:
      - frametagger-network
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      interval: 10s
      timeout: 5s
      retries: 5

  backend:
    image: technicallybob/frametagger:latest
    container_name: frametagger
    environment:
      PUID: 1000
      PGID: 10
      TZ: America/New_York
      DATABASE_URL: mysql+pymysql://root:frametagger@mariadb:3306/frametagger
    volumes:
      - /mnt/media/:/media
      - /mnt/docker/frametagger/data:/app/data
    ports:
      - "8765:8003"
    networks:
      - frametagger-network
    depends_on:
      mariadb:
        condition: service_healthy
    restart: unless-stopped

networks:
  frametagger-network:
    driver: bridge
